<!DOCTYPE html>

<head>
    <style>
        h1 {
            color: blueviolet;
            background-color: antiquewhite;
        }

        span {
            color: green;
        }
    </style>

</head>

<body>
    <h1> Welocome...!</h1>
    <p>Hello <span>{{name}}</span>, Thank you for registeration</p>
</body>

</html>