<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        
        th,
        td {
            padding: 2px;
        }
    </style>
</head>

<body>

    <table style="width: 70%; margin-left: 15%;">
        <tr>
            <td style="width: 30%; padding: 3px;"><img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAACXBIWXMAAAsTAAALEwEAmpwYAAAFJ0lEQVR4nO3cS2sUQRTG8Q9BgIyDhtgIBioIgIgAhOqgAIi6KxDXwA2KK5xA6KgBG+ZqPJ9pGfj/qZqOZr6pydyA49Pn3JyYPMz8Dg9+fPnz5c7DiKi8V8r2u4B9HwNPeyAbzswYzoPws9vIBvuy9mz1ZwBO8EB6nAH1/AFejzS/wB7BwDPjAH19BR8AwDjxAg94wcH6dQvAwO+McAfk5AN+PJQ98wcL5NAH5+JQf8wwLHk0Afn4lB/zDAsuTQB+fiUH/MQDLsGv3vpAcQeAfqME/F+QHGRAH+gF+O2QDaR8AvkzQ9H8vxsA5dAwD3u5w9v9PBscA7y6A4+2pwHHvjg9v8PBcC7zGAfuuQB6HzEAXeoQf8bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWB' alt="image"></td>
            <td colspan="3" style="text-align: center; justify-content: space-around; padding: 3px; ">
                <h1>SPARKOUT TECH SOLUTIONS
                    PRIVATE LIMITED</h1>
            </td>
        </tr>

        <tr>
            <td colspan="4">No. 2 C.M.Nagar, Ramakrishnapuram, Coimbatore, Tamil Nadu, India – 641006 </td>
        </tr>

        <tr>
            <th colspan="4">SALARY SLIP </th>
        </tr>

        <tr style=" height: 25px;">
            <td colspan="4"></td>
        </tr>

        <tr>
            <td>Employee ID</td>
            <td>ST0100</td>
            <td>Month / Year</td>
            <td>Jun-25</td>
        </tr>

        <tr>
            <td>Employee Name</td>
            <td>Abithashri S</td>
            <td>No. of Days Worked</td>
            <td>21</td>
        </tr>

        <tr>
            <td>Designation </td>
            <td>Junior Software Developer</td>
            <td>Account Number</td>
            <td>XXXXXXXX</td>
        </tr>

        <tr>
            <td> Date of Joining</td>
            <td>12-05-2024</td>
            <td>PAN Number</td>
            <td>XXXXXX</td>
        </tr>

        <tr style="height: 25px;">
            <td colspan="3"></td>
        </tr>

        <tr>
            <th>Earnings</th>
            <th>Amount (Rs)</th>
            <th>Deductions</th>
            <th>Amount (Rs)</th>
        </tr>

        <tr>
            <td>Basic Pay</td>
            <td>10000</td>
            <td>EPF</td>
            <td>1200</td>
        </tr>

        <tr>
            <td>HRA</td>
            <td>5000</td>
            <td>ESI</td>
            <td>150</td>
        </tr>

        <tr>
            <td>Conveyance</td>
            <td>1600</td>
            <td>TDS</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Food Allowance</td>
            <td>2200</td>
            <td>Professional Tax</td>
            <td>208</td>
        </tr>

        <tr>
            <td>Education Allowance</td>
            <td>200</td>
            <td>Loss of Pay</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Special Allowance</td>
            <td>1000</td>
            <td>Salary in Advance</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Performance Bonus</td>
            <td>0</td>
            <td>Other Deductions</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Overtime Pay </td>
            <td>0</td>
            <td>Health Insurance</td>
            <td>0</td>
        </tr>

        <tr>
            <th>Total Earnings</th>
            <th>20000</th>
            <th>Total Deductions</th>
            <th>1558</th>
        </tr>

        <tr style="height: 25px;">
            <td colspan="4"></td>
        </tr>

        <tr style="text-align: center;">
            <th>Net Pay in Rupees </th>
            <td colspan="3">18442</td>
        </tr>

        <tr style="text-align: center;">
            <th>In Words</th>
            <td colspan="3">Rupees Eighteen Thousand Four Hundred And Forty Two Only</td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: left;"> Note: System Generated Mail. </td>
        </tr>

    </table>
</body>

</html>